{% load static %}

<!DOCTYPE HTML><html lang=”pt-br”>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>WEB LIBRARY</title>
<link href="http://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<style type="text/css">
/* @import "gallery.css"; */


</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">WEB LIBRARY</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li class="current_page_item">
				<a href="{% url 'web:index' %}">Inicio</a></li>
			<li><a href="{% url 'web:estoque_livro' %}"> Mais Vendidos</a></li>
			<li><a href="{% url 'web:lancamento_livro' %}">Lançamentos</a></li> 
			<li><a href="{% url 'web:biblioteca_livro' %}">Biblioteca</a></li>
		</ul>
	</div>
    <!-- end #menu -->
    
	{% block content %}
	
    {% endblock %}

				<!-- <div id="sidebar">
					<ul>
						<li>
							<h2>Blogroll</h2>
							<ul>
								<li><a href="#">Aliquam libero</a></li>
								<li><a href="#">Consectetuer adipiscing elit</a></li>
								<li><a href="#">Metus aliquam pellentesque</a></li>
								<li><a href="#">Suspendisse iaculis mauris</a></li>
								<li><a href="#">Urnanet non molestie semper</a></li>
								<li><a href="#">Proin gravida orci porttitor</a></li>
							</ul>
						</li>
					</ul>
				</div>
				 end #sidebar-->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div> -->
	<!-- end #page --> 
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="/" rel="nofollow">TEMPLATED</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
