{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
	<title>Web Library</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/global.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min' %}">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="https://images.vexels.com/media/users/3/157346/isolated/preview/25829f6b8d6ca72aee817a8448ab7024---cone-de-livro-aberto-plana-by-vexels.png"
			alt="logo" style="width:40px;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
			aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container-fluid ml-4">
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'web:mais_vendido' %}">Mais Vendidos</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Genero
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=1  %}">Ação</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=2  %}">Aventura</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=3  %}">Crônica</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=4  %}">Drama</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=5  %}">Ficcao</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=6  %}">Infantil</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=7  %}">Poesia</a>
							<a class="dropdown-item" href="{% url 'web:genero_livro' pk=8  %}">Romance</a>

						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'web:contato' %}">Contato</a>
					</li>
				</ul>
				<li class="nav-item my-2 my-lg-0">

					{% if user.is_authenticated %}


				<li class="nav-item">

					<a href="{% url 'web:carrinho' %}" class="btn btn-dark mr-4">
						Carrinho <span class="badge badge-light">1</span></a>
					</button>
				</li>


				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						{{ user.get_username }}
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'web:perfil' %}">Perfil</a>
						<a class="dropdown-item" href="{% url 'logout' %}">Encerrar Sessão</a>
						<a class="dropdown-item" href="{% url 'password_reset' %}">Alterar Senha</a>
						<a class="dropdown-item" href="{% url 'web:genero_livro' pk=4  %}">Ajuda</a>
						<a class="dropdown-item" href="{% url 'web:genero_livro' pk=5  %}">Configurações</a>
					</div>
				</li>
				<a class="nav-link" href="" data-toggle="tooltip" title="Clique para logout"> </a>
				{% else %}

				<li class="nav-item mr-4">
					<a class="nav-link" href="{% url 'web:signup' %}" data-toggle="tooltip"
						title="Clique para logar">Criar Usuario</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}" data-toggle="tooltip"
						title="Clique para logar">LOGAR</a>
				</li>

				{% endif %}
				<li>
					<form form-inline my-2 my-lg-0 method="GET" action="{% url 'web:search'%}" id=searchLivro>
						<input type="text" name="titulo">
						<input type="submit" name="buscar">
					</form>
				</li>
	</nav>

	<!--  -->
	<br>
	<div class="container">
		{% if messages %}

		{% for message in messages %}
		<div class="alert {{ message.tags }} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
		</div>
		{% endfor %}
		{% endif %}
	</div>


	{% block content %}

	{% endblock %}

	</div>

</body>


<footer>

	{% block contentF%}

	{% endblock%}

</footer>




</html>