{% extends 'web/base.html' %}





{% block content %}
    <div id="content">
       
        <h1><a href= "">
            1. 1984, de George Orwell
            PUBLICIDADE
            inRead invented by Teads</br>
            
            2. Uma breve história do tempo, de Stephen Hawking</br>
            
            3. Uma Comovente Obra de Espantoso Talento, de Dave Eggers</br>
            
            4. Muito longe de casa: memórias de um menino-soldado, de Ishmael Beah</br>
            
            5. Mau começo, da série Desventuras em série, de Lemony Snicket</br>
            
            6. Uma dobra no tempo, de Madeleine L’Engle</br>
            
            7. Contos escolhidos 1968-1994, de Alice Munro</br>
            
            8. Alice no País das Maravilhas & Através do espelho, de Lewis Carroll</br>
            
            9. Todos os homens do preisdente, de Bob Woodward e Carl Bernstein</br>
            
            10. Angela’s Ashes: memórias  de Frank McCourt</br>
            
            11. Deus, você está aí? Sou eu, Margaret, de Judy Blume</br>
            
            12. Bel Canto, de Ann Patchett</br>
            
            13. Amada, de Toni Morrison</br>
            
            14. Nascido para correr, de Christopher McDougall</br>
            
            15. Breath, Eyes, Memory, de Edwidge Danticat</br>
            
            16. Ardil 22, de Joseph Heller</br>
            
            17. Charlie e a fábrica de chocolate, de Roald Dahl</br>
            
            18. A teia de Charlotte, de E.B. White</br>
            
            19. O Décimo Primeiro Mandamento, de Abraham Verghese</br>
            
            20. A coragem de ser imperfeito, de Brené Brown</br>
            
            21. Diário de Um Banana, de Jeff Kinney</br>
            
            22. Os filhos de Duna, de Frank Herbert</br>
            
            23. Fahrenheit 451, de Ray Bradbury</br>
            
            24. Medo e Delírio em Las Vegas, Hunter S. Thompson</br>
            
            25. Garota Exemplar, de Gillian Flynn</br>
            
            26. Goodnight Moon, de Margaret Wise Brown</br>
            
            27. Great Expectations, de Charles Dickens</br>
            
            28. Armas, germes e aço - Os destinos das sociedades humanas, de Jared Diamond</br>
            
            29. Harry Potter e a Câmara Secreta, de J. K. Rowling</br>
            
            30. A sangue frio, de Truman Capote</br>
            
            31. Intérprete de males, de Jhumpa Lahiri</br>
            
            32. Homem Invisível, de Ralph Ellison</br>
            
            33. The Smartest Kid on Earth, de Chris Ware</br>
            
            34. Cozinha confidencial, de Anthony Bourdain</br>
            
            35. O fio da vida, de Kate Atkinson</br>
            
            </a></h1>

    </div>



{% endblock %}