{% extends 'web/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card-deck m-3">
                {% if livros %}
                    {% for livro in livros %}


                        <div class="card-column">
                            <div class="card bg-dark mb-4" style="max-width: 319px;">
                                <div class="card-body text-center">
                                    {% if livro_detail.picture %}
                                    <img src={{ livro.picture.url }} height="160" /><br>
                                    {% endif %}
                                    <span class="badge badge-light">{{ livro_detail.titulo | slice:"0:25" }}</span>
                                    <h5>{{ livro.autor }}</h5>
                                    <h6>Vendido: {{ livro_detail.venda }}</h6>
                                    <br>
                                    <h6>{{livro_detail.sinopse | slice:"0:100" }}</h6>
                                    <a href="{% url 'web:descricao' pk=livro.pk  %}" class="btn btn-dark">Ver Mais</a>
                                </div>
                            </div>
                        </div>

                {% endfor %}

                {% else %}
                <div class="container">
                    <div class="card-deck m-3">

                        <div class="card-column">
                            <div class="card bg-dark mb-4" style="max-width: 319px;">
                                <div class="card-body text-center">

                                    <h6>Ainda não há livros no seu carrinho</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


{% endblock %}