{% extends 'web/base.html' %}

{% load crispy_forms_tags %}

{% block content %}




<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h3>Envie sua mensagem que entraremos em contato!</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-outline-success">Enviar</button>

                </form>


            </div>
        </div>
    </div>
</div>
{% endblock %}