{% extends 'web/base.html' %}


{% block content %}

<form id="new_livro_form">
<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__imput" type="text" id="name">
  <label class='mdl-js-textfield__label' for="titulo">Titulo</label>
  <span class="mdl-js-textfield__error"></span>
</div>
<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__imput" type="text" id="name">
  <label class='mdl-js-textfield__label' for="titulo">Titulo</label>
  <span class="mdl-js-textfield__error"></span>
</div>
<div class="mdl-textfield mdl-js-textfield">
  <input class="mdl-textfield__imput" type="text" id="name">
  <label class='mdl-js-textfield__label' for="titulo">Titulo</label>
  <span class="mdl-js-textfield__error"></span>
</div>

</div>





</form>


{% endblock %}