{% extends 'web/base.html' %}



{% block content %}
    <div id="content">
        <h1><a href="{% url 'web:descricao' pk=livro.pk   %}">{{ livro.titulo }}</a></h1>
        <h4>Ano: {{ livro.ano }}</h4>
        <h3>Genêro: {{ livro.genero}}</h3> </br>
        <h3> Capa do livro</h3>
        {% if livro.picture %}
            <img src = {{ livro.picture.url }} height="200"/>
        {% endif %}
        <h6>Autor: {{ livro.autor}}</h6> </br>
        <h3>Sinopse: {{ livro.sinopse|linebreaksbr }}</h3> </br>
        
        <h1><a href="{% url 'web:carrinho_livro' pk=livro.pk   %}">ADIONAR AO CARRINHO</a></h1>


    </div>
{% endblock %}
