{% extends 'web/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-dark text-white">
            <div class="card-body">
                
                <center><h1><h1>{{ livro.titulo }}</h1></h1></center>
                <form method="post" novalidate>
                        <center><td>{% if livro.picture %}<img height="180" src={{ livro.picture.url }} />{% endif %}</center>

                        <p>

                            <h6>Autor: {{ livro.autor}}</h6>

                            <h3>Sinopse: {{ livro.sinopse|linebreaksbr }}</h3> </br>.

                            <h3>Apenas R$: {{ livro.valor }}0</h3> </br>.
                            
                        </p>
                </form>
                <button id="buttondesc" href="/">ADIONAR AO CARRINHO  </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}