{% extends 'web/base.html' %}





{% block content %}
    <div id="content">
       
        <h1><a href= "">

            <h2>A vida sem crachá</h2>
            <h5>Claudia Giudice</h5></br>

            <h2>O que o sol faz com as flores</h2>
            <h5>Rupi Kaur</h5></br>

            <h2>Hit Makers: Como nascem as tendências</h2>
            <h5>Derek Thompson</h5></br>

            <h2>Irresistível</h2>
            <h5>Adam Alter</h5></br>

            <h2>A princesa salva a si mesma neste livro</h2>
            <h5>Amanda Lovelace</h5></br>

            <h2>Encarcerados</h2>
            <h5>John Scalzi</h5></br>

            <h2>Jogador Nº 1</h2>
            <h5>Ernest Cline</h5></br>
         
            
            </a></h1>

    </div>



{% endblock %}